@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Color+Emoji&family=Oswald:wght@200..700&display=swap');

:root {
  --text-color-primary: #000;
  --text-color-secondary: #6f17c4;
  --card-color: #E4DCCF;
  --margin-color: #212427;
  --brand-color: #6cc417;
  --text-brand-color: #F6F1F1;
  --elem-height: 3em;

  /*  60-30-10 Rule */
  --bg-primary: 33 33 33;
  --bg-secondary: 50 50 50;
  --bg-accent: 13 115 119;
  --bg-highlight: #14FFEC;
}

.emoji {
  font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

code {
  max-width: 80vw;
  overflow-x: auto;
}

html {
  font-size: 16px;
  font-family: "JetBrains Mono", monospace;

}

body {
  display: grid;
  grid-template-areas:
    'header header'
    'main main'
    'footer footer';
  background: rgb(var(--bg-primary));
  font-family: "JetBrains Mono", monospace;

}

main a {
  color: var(--bg-highlight) !important;
}

main a:hover {
  text-decoration: underline;
}


header {
  grid-area: header;
  max-height: 2em;
}
header img {
  max-height: 2em;
}

footer {
  grid-area: footer;
  padding: 2em 0;

}

nav {
  grid-area: nav;
}

header,
footer,
nav {
  background-color: rgb(var(--bg-primary));
  color: var(--text-brand-color);
  min-height: var(--elem-height);
}


main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  animation: gradient 3s ease infinite;
  background: rgba(var(--bg-accent) / 70%);
}



button {
  background-color: var(--bg-highlight);
  border: none;
  border-radius: 0.5em;
  padding: 0.2em;
  box-shadow: inset 2px 2px 2px 1px #0000008f, inset -2px -2px 2px 1px #ffffff2e;
}

button:hover {
  filter: drop-shadow(16px 16px 20px var(--bg-highlight)) brightness(1.1);
  transition: all 0.3s ease-in-out;
}

svg {
  height: 3em;
}

header svg {
  height: 1.5em;
  padding-right: 1em;
  padding-top: .1em;
}

svg path {
  fill: var(--text-brand-color);
}

span {
  color: var(--bg-highlight)
}

.skip-to-main {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: rgb(var(--bg-primary));
  color: var(--bg-highlight);
  opacity: 0;
}

.skip-to-main:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

#weather-current {
  display: grid;
  grid-template-areas: 'location location'
    'conditions other';
  grid-template-columns: 1fr 1fr;
}

#weather-current * {
  border: 2px solid var(--bg-highlight);
}
#location {
  grid-area: location;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

#weather {
  grid-area: other;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
#conditions {
  grid-area: conditions;
  padding: 1em;
}
#conditions .emoji {
  font-size: 10em;
}